header {
    text-align: center;
    margin-bottom: 2rem;
    color: indigo;
    display: block;
    unicode-bidi: isolate;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #e1d4ff;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    background: rebeccapurple;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.card {
    color: indigo;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 1.1rem;
    background: #f7edff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  color: indigo;
  margin: 2rem;
}
